#sidebar {
  width: 20%;
  background: $secondaryBackground;
}

.sidebar {
  &__nav {
    &__list {
      list-style-type: none;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      padding: 0;
      margin: 0;
      &__item {
        padding: 15px;
        &__link {
          text-decoration: none;
          color: $primaryColor;
        }
      }
    }
  }
}