html {
  font-size: 62.5%;
}

body {
  @include fontSize(16);
  font-family: $primaryFont;
  color: $primaryColor;
}

.wrapper {
  margin: 0 10px;
    @media (min-width: 1040px) {
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.container {
  display: flex;
}

.main-content {
  width: 80%;
  background: $primaryBackground;
}

section {
  padding: 0 25px;
  padding-top: 100px;
}

