$primaryColor: #3c2e3d;
$primaryBackground: #dae9e4;
$secondaryBackground: #8bcbc8;
$primaryAccent: #fdae84;
$secondaryAccent: #ecc7c0;

@mixin colors($background, $color) {
  background: $background;
  color: $color;
}

@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem;
}

@mixin position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin fontFamily($family) {
  font-family: $family;
}

