@import 'setup';
@import 'aside';
@import 'header';

html {
	font-size: 62.5%;
}
.container {
	display: flex;
}

body {
	font-size: 1.6rem;
}

.main-content {
	width: 80%;
	padding: 25px;
	background: $secondaryColor;
}

section {
	padding-top: 200px;
}

// permanent marker and heebo
